.Aside {
    background-color: var(--aside--white);
    border-left: 1px solid var(--outline);
    width: 20em;
    box-sizing: border-box;
    width: 100%;
}

.aside-body {
    max-height: calc(100vh - var(--header-height));
    display: grid;
    grid-template-rows: 3fr 2fr;
    height: 100%;
    box-sizing: border-box;
}

.aside-body-content {
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--outline);
    overflow-y: auto;
}