.page-builder--toolbar {
    background-color: var(--aside--white);
    box-sizing: border-box;
    color: rgb(109, 116, 115);
}

table th:nth-child(1){
    text-align: end;
}

table th:nth-child(2){
    text-align: left;
    width: 100%;
}

input, select {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

th {
    font-weight: normal;
}

.properties {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

.properties span {
    text-align: right;
    font-size: 1.4rem;
}