---
import Layout from "../layouts/Layout.astro";
import Header from '../components/header/header'
---

<Layout title="Page not found.">
    <main>
        <Header />
        <h2 class="not-found">Page not found...</h2>
    </main>
</Layout>

<style>
    .not-found {
        margin: 1rem;
        font-size: 4rem;
    }
</style>