---
import Layout from "../layouts/Layout.astro";
import ComponentBuiler from '../containers/componnentBuilder/componentBuilder'
---

<Layout title="Create you own componwnts">
    <main>
        <ComponentBuiler />
    </main>
</Layout>
