---
import Layout from '../layouts/Layout.astro';
import PageBuilder from '../containers/pageBuilder/PageBuilder.jsx';
---

<Layout title="Welcome to Astro.">
	<main>
		<PageBuilder client:load/>
	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding: 0;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
