---
import Layout from '../layouts/Layout.astro';
import BlockComponent from '../components/BlockComponent.jsx';
import PageBuilder from '../components/pageBuilder/PageBuilder';
---

<Layout title="Welcome to Astro.">
	<main>
		<PageBuilder client:load/>
	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding: 0;
		/* width: 800px; */
		/* max-width: calc(100% - 2rem); */
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
</style>
