.header {
    background-color: rgb(226, 226, 226);
    border-bottom: 1px solid var(--outline);
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
}

.nav {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.nav a{
    text-decoration: none;
    color: var(--color);
    font-weight: 500;
    line-height: 1rem;
    padding: 1rem 1rem;
    font-size: 1.5rem;
}

.nav > a:first-child {
    margin-left: 0rem;
}

.nav a:hover {
    color: white;
    background-color: var(--color);
    box-sizing: border-box;
    border-radius: 1rem;
}