.header {
    background-color: rgb(226, 226, 226);
    outline: 1px solid var(--outline);
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    align-items: center;
}