.add-new-component {
    height: 0.4rem;
    left: 0;
    position: relative;
    margin-top: -0.4rem;
}

.add-new-component::after {
    position: absolute;
    content: '';
    height: 0.4rem;
    width: 100%;
    bottom: -0.2rem;
    background-color: orange;
    display: none;
    z-index: 1;
}

.add-new-component::before {
    position: absolute;
    content: '+';
    height: 20px;
    width: 20px;
    bottom: -10px;
    background-color: orange;
    text-align: center;
    left: 50%;
    margin-left: -10px;
    z-index: 2;
    line-height: 1.65rem;
    border-radius: 5rem;
    display: none;
}

.add-new-component:hover::after,
.add-new-component:hover::before {
    display: block;
}